/* Pretendard-Regular 폰트 로드 */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

/* 전역 스타일 초기화 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0px !important;
  padding: 10px 20px !important; /* 기본 padding을 없애주어 불필요한 스크롤 제거 */
}

/* body 스타일 */
body {
  background-color: white !important; /* 배경색 설정 */
  font-family: 'Pretendard-Regular', sans-serif; /* 폰트 설정 */
  overflow-x: hidden; /* 가로 스크롤을 방지 */
}

/* 전역 기본 스타일 */
body {
  font-family: 'Pretendard-Regular', sans-serif;
}
